/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title{
  width: 100%;
  padding: 2.5% 0;
  text-align: center;
  color: white;
  background-color: #7b1fa2;
}

.container
{
  margin: 1% 15%;
}
.card{
  *{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
  }
  margin-top: 1rem;
}
